html, body {
    background-color: rgb(4, 26, 4);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}
body {
    &.blue-theme { background-color: #02416e; }
    &.green-theme { background-color: #086808; }
    &.red-theme { background-color: #eb082a; }
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: inline;
            margin-right: 15px;
        }
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            &:hover {
                color: #0066cc;
            }
        }
    }
}

h1, p {
    color: black;
}

.error-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.error-container a {
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
}
.error-container a:hover {
    text-decoration: underline;
}

.error-image {
    max-width: 550px;
    max-height: 550px;
    height: auto;
}